<h1>Current Trending Requests!</h1>

<div  class="small-spacer" ></div>


<div class="row">
  <div class="col-md-12">
    <div class="row">


      <% @requests.each do |request| %>
        <div class="col-md-6">
          <% user=User.find(request.user_id) %>
          <% item=Item.find(request.item_id) %>

          <div class="panel panel-default margin-spacer">
            <div class="panel-heading">  <span class="space">#<%= request.id %>.</span> <%= user.email %> </div>
            <div class="panel-body">
              <%= item.name%>,
              <br>
              <%= request.description%>
              <br><br>



              <% if user==current_user %>

              <a class="btn btn-danger" href="/remove_request/<%=request.id%>">Remove Request</a>
              <% end %>
            </div>
          </div>
        </div>



      <% end %>

    </div>
  </div>
</div>
