<h1>Your Current Responses</h1>

<div  class="small-spacer" ></div>


<div class="row">
  <div class="col-md-12">
    <div class="row">


      <% @requests.each do |request| %>
        <div class="col-md-5">
          <% user=User.find(request.user_id) %>
          <% item=Item.find(request.item_id) %>

          <% responses=Response.where(:request_id => request.id) %>

          <div class="panel panel-default margin-spacer">
            <div class="panel-heading">  <span class="space"><b>Responses for days</b></span></div>
            <div class="panel-body response">
              <h4><%= item.name%>,
              <br>
              <%= request.description%></h4>
              <br><br>



              <% responses.each do |response| %>

                <% if response.accept == true %>

                  <li><strong>You successfully accepted this response.</strong>
                  <br>
                  <%= response.description %></li>
                  <br>


                <% elsif response.accept ==false %>

                  <li><strong>You successfully rejected this response.</strong>
                  <br>
                  <%= response.description %></li>
                  <br>


                <% else %>

                  <li><%= response.description %></li>
                  <br>

                  <button type="button" class="btn btn-info response-answer" data-toggle="modal" data-target="#accept_response" data-response-id="<%= response.id %>">
                    Accept
                  </button>

                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deny_access" data-response-id="<%= response.id %>">
                    Refuse
                  </button>


                <% end %>

              <% end %>

            </div>
          </div>
        </div>



      <% end %>

    </div>
  </div>
</div>

<!-- Button trigger modal -->


<!-- Modal -->



<div class="modal fade" id="accept_response" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure about this?</h4>
      </div>
      <div class="modal-body">
        Do you really want to accept this offer from this random person that you probably don't know?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Nay</button>

        <form class="form-inline nay-yah-space" action="/accept_response/" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <input type="hidden" name="response_id" value="">
          <input type="hidden" name="accept" value="true">
          <button type="submit" class="btn btn-success">Yah</button>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deny_access" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Are you sure about this?</h4>
      </div>
      <div class="modal-body">
        Do you really not want to accept this amazing offer this person is giving you?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Nay</button>

        <form class="form-inline nay-yah-space" action="/reject_response/" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <input type="hidden" name="response_id" value="">
          <input type="hidden" name="accept" value="false">
          <button type="submit" class="btn btn-danger">Yah</button>
        </form>

      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $('#accept_response, #deny_access').on('show.bs.modal',function(e) {
    var responseId = $(e.relatedTarget).data('response-id');
    $(e.currentTarget).find('input[name="response_id"]').val(responseId);
  })
</script>
