<h1>Current Trending Items!</h1>

<div  class="small-spacer" ></div>


<div class="row">
  <div class="col-md-12">
    <div class="row">


      <% @items.each do |item| %>
        <div class="col-md-6">
          <% user=User.find(item.user_id) %>

          <div class="panel panel-default margin-spacer">
            <div class="panel-heading">  <span class="space">#<%= item.id %>.</span> <%= user.email %> </div>
            <div class="panel-body border-control">

              <div class="row">
                <div class="col-md-5">
                  <%= item.name%>,
                  <br>
                  <%= item.description%>,
                  <br>
                  <br><br>
                  <% if user==current_user %>

                  <a class="btn btn-danger"href="/remove_item/<%=item.id%>">Destroy Item</a>
                  <% end %>
                </div>

                <div class="col-md-7">
                  <img src="<%= item.image %>" alt="" class="size-of-image">
                </div>
              </div>


            </div>
          </div>
        </div>



      <% end %>

    </div>
  </div>
</div>
