<!DOCTYPE html>
<html>
  <head>
    <title>Enteri</title>
    <%= csrf_meta_tags %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style media="screen">
      html {
        width: 100%;
        height: 100%;
      }
      body {
         position: relative;
         width: 100%;
         height: 100%;
      }
      body:after {
          content : "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          background: url(<%= Item.all.sample.image if Item.count > 0%>);
          width: 100%;
          height: 100%;
          background-size: 300px;
          opacity : 0.4;
          z-index: -1;
      }


    </style>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Enteri</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-spacer">
            <li class=""><a href="/requests">Look at the requests <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="/request">Request Something <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="/make_item">Make an item <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="/items">Look at the items <span class="sr-only">(current)</span></a></li>
            <li class=""><a href="/responses">Your Current Responses <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.present?%>
              <li><a href="/notifications"><span class="glyphicon glyphicon-bell" aria-hidden="true" ></span></a></li>
              <li><a href="/users/edit">Account Settings</a></li>
              <li><a href=""><%= current_user.email %></a></li>
              <li class=""><a data-method='delete' href="/users/sign_out">Logout <span class="sr-only">(current)</span></a></li>
            <% else %>
              <li class=""><a data-method='' href="/users/sign_in">Sign in/Sign up <span class="sr-only">(current)</span></a></li>
            <%end%>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <% if notice.present? %>

            <div class="alert alert-success alert-dismissible " role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= notice %>
            </div>
          <% end %>

          <% if alert.present? %>
            <div class="alert alert-danger alert-dismissible " role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <%= alert %>
            </div>
          <% end %>

        </div>
      </div>
    </div>


    <% if current_user.present?%>
      signed in as <%= current_user.email %>
      <a data-method='delete' href="/users/sign_out">Bye Bye</a>

    <% end %>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= yield %>
          </div>
        </div>
      </div>
  </body>
</html>
